.buttongroup1 {
    margin-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    width:100%;
}
.buttongroup2 {
    margin-top: 50px;
    padding-bottom: 75px;
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    width:100%;
}
.button{
    width: 140px;
    height:80px;
    font-variant: normal;
    position: relative;
    font-family:"Monospace";
    font-size:0px;
    border: none;
    border-radius: 12px;
    background-color: Transparent;
    transition-duration: 0.3s;
    padding:8px 20px;
    display:inline-block;
    border-radius: 1000px;
    outline:0;
    border: none;
}
.goover {
    font-size:0px;
} 

.button:hover {
    background:rgb(91, 118, 175);
    color: rgb(0, 0, 0);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:hover .goover{
    font-size:21px;
}

.lightbox-container{
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif; 
    color: #52658F;
    box-sizing: border-box;
    padding: 50px;
    font-size: 25px;
    position: fixed;
    background-color: #E8E8E8;
    border: 10px solid #333A56;
    border-radius: 1%;
    align: justify;
    left:2.3%;
    width:95.5%;
    height: 77.5%;
    transform: translate(-150%, -400%);
    overflow: scroll;
    overflow-x: hidden;
    transition: 250ms ease-out;
}
.lightbox-container::-webkit-scrollbar{
    display:none;
}

.button.close-button{
    position: fixed;
    transform: translate(-200%,-100%);
    transition: width;
    background-color: rgba(244, 244, 252, 0.4);
    left:2.3%;
}

.lightbox .button.close-button{
    top:10px;
}
.lightbox .lightbox-container{
    top:95px;
}

.lightbox:before{
    content:"";
    position: fixed;
    display: none;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    height:100%;
    width:100%;
}

.lightbox:target:before{
    display: block;
}


.button.close-button:hover{
    background:rgb(91, 118, 175);
    color: rgb(0, 0, 0);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.lightbox:target .lightbox-container{
    transform: translate(0%,0%);
}

.lightbox:target .button.close-button{
    transform: translate(0%,0%);
    outline:0;
    border: none;
}

#lightbox-close{
}

.titlu
{
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 55px;
    font-weight: 700;
    color: #333A56;
    text-align:center;
    margin-bottom:20px;
}

.introducere{
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 19px;
    font-weight: 700;
    color:#52658F;
    text-align:center;
    margin-top:50px;
    margin:auto;
    margin-bottom:20px;
    position:relative;
    height:100px;
    text-decoration:none;
}
a:link {

    background-color:transparent; 
    text-decoration: none;
}


.listam li{
    display:inline-block;
}

<<<<<<< HEAD
.mostaccessed {
    position:relative;
    text-align:center;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 21px;
    font-weight: 700;
    color:#52658F;
    margin-top:50px;

}

.buttonfav{
    width: 140px;
    height:80px;
    position: relative;
}

.favpic {
    position:absolute;
    width:30px; 
    height:30px;
    margin-left:-35px;
    margin-bottom:50px;
    opacity:0.8;
}

=======
>>>>>>> c0b2be25aa774e24ba69f606977aa7cdcb3a66d6
@media only screen and (max-width: 1000px) and (min-width:301px){
    .buttongroup1
    {
        padding-bottom: 0px;
    }
    .buttongroup2
    {
        margin-top:0px;
    }
    .button{
        width: 280px;
        height:160px;
<<<<<<< HEAD
        margin-bottom: 40px;
=======
>>>>>>> c0b2be25aa774e24ba69f606977aa7cdcb3a66d6
    }
    .button.close-button{
        width:140px;
        height:80px;
    }
    .lightbox-container{
        font-size:40px;
    }
}

@media only screen and (max-height:450px){
    .lightbox-container{
        height:70%;
    }
}