<!DOCTYPE html>
<html lang="en">

<head>
    <title> Academic Recommender </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/views/portfolio/assets/styles/body_header.css">
    <link rel="stylesheet" href="/views/portfolio/assets/styles/portfolio.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <header>
        <button id="myBtn2" onclick="Logout()" type="button">Logout!</button>
        <h1> AcaR </h1>
    </header>

    <div id="titlu"></div>
    <div id="introducere"></div>
    <div id="recommendations">
        <div id="carti" class="resurse" value="0"></div>

        <div class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="form">
                    <form class="add-book">
                        <h2>Adauga o noua carte </h2>
                        <p>Titlu</p>
                        <input type=text id="Titlul" placeholder="Titlu cartii" required>
                        <br>
                        <span id="spnName"></span>
                        <p>Autor</p>
                        <input type=text id="Autor" placeholder="Autorul cartii" required>
                        <p>Anul publicarii</p>
                        <input type=text id="Anul" placeholder="Anul publicarii" required>
                        <p>Link</p>
                        <input type=text id="Link" placeholder="Link-ul cartii" required>
                        <p>Imagine</p>
                        <input type=text id="Img" placeholder="Link-ul imaginii" required>
                        <p>Materie</p>
                        <input type=text id="Materie" placeholder="Materia" required>
                        <br>
                        <span id="parola"></span>
                        <span id="MesajConfirmare"></span>

                        <button id="addbook" onclick="adaugare_carte()">Adaugare carte!</button>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="form">
                    <form class="add-book">
                        <h2>Sterge o veche carte </h2>
                        <p>Titlu</p>
                        <input type=text id="Titlul1" placeholder="Titlu cartii" required>
                        <br>
                        <span id="Parola"></span>
                        <span id="mesajConfirmare"></span>

                        <button id="rmvbook" onclick="stergere_carte()">Stergere carte!</button>
                    </form>
                </div>
            </div>
        </div>
        

        <div class="buttons">
        <button id="adauga-carte">Adaugare carte!</button>
        <button id="sterge-carte">Sterge carte!</button>
        </div>

        <div id="articole" class="resurse" value="1"></div>
        <div id="cod" class="resurse" value="2"></div>
        <div id="persoane" class="resurse" value="3"></div>
        <div id="instrumente" class="resurse" value="4"></div>
        <div id="barfe" class="resurse" value="5"></div>
    </div>

    </div>


    <footer>
        <p> © 2018 Cojocaru Gabriel-Codrin, Pintilei Serban, Marincean Ioan, Stanciu Sebastian Terms of Use Privacy and Security
            Statement </p>
    </footer>
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>-->
    <script src="/views/portfolio/assets/scripts/portfolio.js"></script>
    <script src="/views/portfolio/assets/scripts/adaugare_carte.js"></script>
    <script src="/views/portfolio/assets/scripts/stergere_carte.js"></script>
    <script src="/views/portfolio/assets/scripts/delogare.js"></script>
    <script>
        // Get the modal
        var modalAdaugare = document.getElementsByClassName('modal')[0];
        var modalStergere = document.getElementsByClassName('modal')[1];
        // Get the button that opens the modalAdaugare
        var btn = document.getElementById("adauga-carte");
        var btn1 = document.getElementById("sterge-carte");

        // Get the <span> element that closes the modalAdaugare
        var span = document.getElementsByClassName("close")[0];
        var span1=document.getElementsByClassName("close")[1];
        // When the user clicks the button, open the modalAdaugare 
        btn.onclick = function () {
            modalAdaugare.style.display = "block";
        }

        btn1.onclick=function () {
            modalStergere.style.display = "block";
        }
        // When the user clicks on <span> (x), close the modalAdaugare
        span.onclick = function () {
            modalAdaugare.style.display = "none";
        }
        span1.onclick = function () {
            modalStergere.style.display = "none";
        }

        // When the user clicks anywhere outside of the modalAdaugare, close it
        /*window.onclick = function (event) {
            if (event.target == modalAdaugare) {
                modalAdaugare.style.display = "none";
            }
        }
        window.onclick = function (event) {
            if (event.target == modalStergere) {
                modalStergere.style.display = "none";
            }
        }*/

    </script>
</body>

</html>