<!DOCTYPE html>
<html lang="en">

<head>
    <title> Academic Recommender </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/views/resource-page/assets/styles/body_header.css">
    <link rel="stylesheet" href="/views/resource-page/assets/styles/resource_page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/views/resource-page/assets/styles/star-rating.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>
    <header>
        <h1> Welcome to the Academic Recommender </h1>
    </header>
    <div id="titlu"></div>
    <div id="details">
        <div id="imagine"><img id="imagine-carte"></div>
        <hr>
        <div id="infos"></div>
    </div>
    <div class="continut">
        <x-stelute value="1" number="5"></x-stelute>
    </div>
    <button id="rate-button">Noteaza resursa</button>
    <footer>
        <p> © 2018 Cojocaru Gabriel-Codrin, Pintilei Serban, Marincean Ioan, Stanciu Sebastian Terms of Use Privacy and Security
            Statement </p>
    </footer>
    <script src="/views/resource-page/assets/scripts/star-rating.js"></script>
    <script src="/views/resource-page/assets/scripts/resource_page.js"></script>
</body>

</html>