<!DOCTYPE html>
<html lang="en">

<head>
    <title> Academic Recommender </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/views/resource_page/assets/styles/body_header.css">
    <link rel="stylesheet" href="/views/resource_page/assets/styles/resource_page.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>
    <header>
        <h1> Welcome to the Academic Recommender </h1>
    </header>
    <h2>Tehnologii Web-Categoria carti</h2>
    <div id="titlu"></div>
    <div id="details">
        <img src="assets/img/book.png" id="poza">
        <hr>
    </div>
    <footer>
        <p> © 2018 Cojocaru Gabriel-Codrin, Pintilei Serban, Marincean Ioan, Stanciu Sebastian Terms of Use Privacy and Security
            Statement </p>
    </footer>
    <script src="/views/resource_page/assets/scripts/resource_page.js"></script>
</body>

</html>