<!DOCTYPE html>
<html lang="en">

<head>
    <title> Academic Recommender </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/views/dashboard_recommendations/assets/styles/body_header.css">
    <link rel="stylesheet" href="/views/dashboard_recommendations/assets/styles/dashboard_recommendations.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <nav>
            <a href="main_menu.html"> Acasa </a>
            <a href="#"> Noutati </a>
            <a href="contact.html"> Contact </a>
            <a href="contact.html"> Despre </a>
            <p> Autentificat ca Gabriel-Codrin </p>
        </nav>
        <h1> AcaR </h1>
    </header>

    <div class="titlu">Tehnologii Web</div>
        <div class="introducere">
            <ol class="listam">
                <li>
                    <a target="_blank" href="https://profs.info.uaic.ro/~busaco/teach/courses/web/">Pagina cursului</a>
                </li>
                <li>|</li>
                <li>-
                    <a target="_blank" href="https://www.info.uaic.ro/bin/Structure/busaco">Conferentiar Dr.Buraga Sabin Corneliu</a>
                </li>
                <li> | </li>
                <li>Anul 2</li>
                <li> | </li>
                <li>Semestrul 2</li>
            </ol>
        </div>
    </div>
    <div id="recommendations"></div>
    <footer>
        <p> © 2018 Cojocaru Gabriel-Codrin, Pintilei Serban, Marincean Ioan, Stanciu Sebastian Terms of Use Privacy and Security
            Statement </p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="/views/dashboard_recommendations/assets/scripts/dashboard_recommendations.js"></script>
</body>

</html>