<!DOCTYPE html>
<html lang="en">

<head>
    <title> Academic Recommender </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/views/recommendations/assets/styles/body_header.css">
    <link rel="stylesheet" href="/views/recommendations/assets/styles/recommendations.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
        <button type="button" name="submit" id="submit-button">Vezi recomandari</button>
    <header>
        <nav>
            <a href="main_menu.html"> Acasa </a>
            <a href="#"> Noutati </a>
            <a href="contact.html"> Contact </a>
            <a href="contact.html"> Despre </a>
        </nav>
        <h1> AcaR </h1>
    </header>

    <div id="titlu"></div>
    <div id="introducere"></div>
    <div id="recommendations">
        <div id="carti" class="resurse" value="0"></div>
        <div id="articole" class="resurse" value="1"></div>
        <div id="cod" class="resurse" value="2"></div>
        <div id="persoane" class="resurse" value="3"></div>
        <div id="instrumente" class="resurse" value="4"></div>
        <div id="barfe" class="resurse" value="5"></div>
    </div>

    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="form">
            <form class="add-book">
                <h2>Adauga o noua carte </h2>
                <p>Titlu</p>
                <input type=text id="name" placeholder="Titlu cartii" required>
                <br>
                <span id="spnName"></span>
                <p>Autor</p>
                <input type=text id="autor" placeholder="Autorul cartii" required>
                <p>Anul publicarii</p>
                <input type=text id="anu" placeholder="Anul publicarii" required>
                <p>Link</p>
                <input type=text id="Link" placeholder="Link-ul cartii" required>
                <p>Imagine</p>
                <input type=text id="Img" placeholder="Link-ul imaginii" required>
                <p>Materie</p>
                <input type=text id="Materie" placeholder="Materia" required>
                <br>
                <span id="parola"></span>
                <span id="MesajConfirmare"></span>
                
            <button id="loginbtn" onclick="validateLoginBoxes()" type="button">Autentifica-te!</button>
            </form>
        </div>

    </div>


    <footer>
        <p> © 2018 Cojocaru Gabriel-Codrin, Pintilei Serban, Marincean Ioan, Stanciu Sebastian Terms of Use Privacy and Security
            Statement </p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="/views/recommendations/assets/scripts/recommendations.js"></script>
</body>

</html>