main article h2 {
    width: 100%;
    text-align: center;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 55px;
    font-weight: 700;
    color: #293742;
    margin-bottom: 20px;
}

main article p {
    font-family: "DIN","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}

.year-buttons {
    text-align: center;
}

.year-buttons button {
    width: 33%;
    height: 100px;
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
}

.semester-buttons {
    text-align: center;
}

.semester-buttons button {
    width: 49%;
    height: 100px;
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
}