.year-buttons {
    text-align: center;
}

.year-buttons button {
    width: 33%;
    height: 100px;
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
}

.semester-buttons {
    text-align: center;
}

.semester-buttons button {
    width: 49%;
    height: 100px;
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
}