.buttongroup1 {
    margin-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    width:100%;
}
.buttongroup2 {
    margin-top: 50px;
    padding-bottom: 75px;
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    width:100%;
}
.button  {
    width: 140px;
    height:80px;
    font-variant: normal;
    position: relative;
    font-family:"Monospace";
    font-size:0px;
    border: none;
    border-radius: 12px;
    background-color: Transparent;
    transition-duration: 0.3s;
    padding:8px 20px;
    display:inline-block;
    border-radius: 1000px;
    
}
.goover {
    font-size:0px;
} 

.button:hover {
    background:rgb(91, 118, 175);
    color: rgb(0, 0, 0);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button:hover .goover{
    font-size:21px;
}
.titlu
{
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 55px;
    font-weight: 700;
    color: #293742;
    text-align:center;
    margin-top:50px;
}

@media only screen and (max-width: 600px) {
    .buttongroup1
    {
        padding-bottom: 0px;
    }
}