.buttongroup1 {
    margin-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    width:80%;
    margin:auto;
}
.buttongroup2 {
    margin-top: 50px;
    padding-bottom: 75px;
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    width:80%;
    margin:auto;
}
.button  {
    width: 140px;
    height:80px;
    font-family:"Monospace";
    font-size:0px;
    border: none;
    background-color: Transparent;
    transition-duration: 0.5s;
    padding:8px 20px;
    border-radius: 50px;
    margin-bottom:50px;
}
.goover {
    font-size:0px;
} 

.button:hover {
    background:#52658F;
}
.button:hover .goover{
    font-size:21px;
    font-family:"Blender","Helvetica Neue",Helvetica,Arial,sans-serif; 
}
.titlu
{
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 55px;
    font-weight: 700;
    color: #333A56;
    text-align:center;
    margin-bottom:20px;
}
.introducere{
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 19px;
    font-weight: 700;
    color:#52658F;
    text-align:center;
    margin-top:50px;
    margin:auto;
    margin-bottom:20px;
    position:relative;
    height:100px;
    text-decoration:none;
}
a:link {

    background-color:transparent; 
    text-decoration: none;
}
a:hover {
    background-color:#52658F;
}

.listam li{
    display:inline-block;
}

@media only screen and (max-width: 600px) {
    .buttongroup1
    {
        padding-bottom: 0px;
    }
    .buttongroup2
    {
        margin-top:0px;
    }
}
