/*upper-body content*/

#titlu
{
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 55px;
    font-weight: 700;
    color: #333A56;
    text-align:center;
    margin-bottom:20px;
}

#introducere{
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 19px;
    font-weight: 700;
    color:#52658F;
    text-align:center;
    margin-top:50px;
    margin:auto;
    margin-bottom:20px;
    position:relative;
    height:100px;
    text-decoration:none;
}

a:link {

    background-color:transparent; 
    text-decoration: none;
}


#listam li{
    display:inline-block;
}

/*recommendations content*/

.timeline{
    width:100%;
    margin:0px auto;
    margin-bottom: 20px;
    position: relative;
    height:200px;
    height:100%;
    z-index: 0;
}

.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav .timeline-item{
    display:inline-block;
}

.timeline-item{
    width: 200px;
    background: #E8E8E8;
    border-radius:0.25em;
    border:1px transparent black;
    -webkit-filter: drop-shadow(1px 2px 5px rgba(0,0,   0,.7));
    filter: drop-shadow(1px 2px 5px rgba(0,0,0,.7));
    margin-left:0.5%;
    margin-right:0.5%;
    z-index: 5;
    margin-top:5px;
    
}

.left-arrow, .right-arrow{
    z-index: 10;
    border:none;
    opacity: 0.5;
    position: absolute;
    top:52.5%;
    cursor: pointer;
}

.left-arrow{
    transform: translate(-50%);
    left:50px;
}

.right-arrow{
    transform: translate(+50%);
    right:50px;
}

.arrow{
    width:75px;
    height:75px;
}

.left-arrow:hover, .right-arrow:hover{
    opacity: 0.95;
}

.titlu-materie{
    font-size:50px;
}

.content-img{
    width:100%;
    border-top-left-radius:0.25em;
    border-top-right-radius: 0.25em;
}

.left-arrow-first{
    opacity: 0.5px;
}

.timeline h2{
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333A56;
    text-align:center;
}

.timeline-item p{
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #52658F;
    font-size:20px;
}

#submit-button{
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 20px;
    position: fixed;
    top:20px;
    right:70px;
    background: #52668F;
    border-radius:0.25em;
    height:40px;
    color: white;
    width:190px;
    border: none;
    -webkit-filter: drop-shadow(1px 2px 5px rgba(0,0,0,.7));
    filter: drop-shadow(1px 2px 5px rgba(0,0,0,.7));
    margin-bottom:20px;
    z-index: 20;
    cursor: pointer;
}

/* From */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


.modal-content{
    /*background-color: #fefefe;*/
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    text-align: center;
    width:70%;
    max-width: 600px;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif; 
    padding: 1.3em;
    background: #E8E8E8;
    color:#333A56;
    border-radius:0.25em;
}



.form {
    margin: auto;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 20px;
    padding: 1.3em;
    color:#333A56;
    align-content: center;

}

.form button {
    padding: 8px;
    text-transform: uppercase;
    width: 70%;
    color: white;
    cursor: pointer;
    margin-bottom: 19px;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 20px;
    background: #333A56;
    border-radius:0.25em;
    color: white;
    border: none;
    margin-top:20px;
}

.form h2 {
    margin: 30px;
    font-family: "DIN", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

.form p {
    margin: 8px;
    font-weight: bold;
    padding-left: 3px;
    text-align: center;
    font-family: "DIN", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form .Message {
    text-align: center;
    font-family: "DIN", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#myBtn{
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 20px;
    background: #333A56;
    border-radius:0.25em;
    color: white;
    border: none;
    -webkit-filter: drop-shadow(1px 2px 5px rgba(0,0,0,.7));
    filter: drop-shadow(1px 2px 5px rgba(0,0,0,.7));
    width: 180px;
    margin-bottom:20px;
    text-align: center;
    height: 40px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}